<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>sue's Lyft</title>
	<!--links-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
     <!--encabezado-->
     <div class="row">
       <div>
        <span class="center">
        <span class="signo col s1">&#60;</span>
        <h3 class="center">Sign Up</h3>
        </span> 
       </div>    
         <h5 class="center">Join now for free ride Credit</h5>
     </div>
     <hr>
     <!--termina emcabezado-->
	
	<!--Dropdown-->
<div class="row">
  <a class='dropdown-button btn col s1' href='#' data-activates='dropdown1'> ▼</a>
  
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
	<div class="input-field col s5">
    <input id="icon_telephone" type="tel" class="validate">
    <label for="icon_telephone" >telefono</label>
  </div>
</div>
  
     
     
     

     
     
	<!--links funcionalidad-->
	<script  src="../js/jquery-3.2.1.min.js"></script>
	<script  src="../js/materialize.min.js"></script>
	<script  src="../js/main.js"></script>
</body>
</html>